body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(128, 128, 210);
}

button:hover {
  background-color: rgb(169, 169, 240);
  transform: scale(1.09);
}
h1 {
  margin-bottom: 30px;
}